<ejs-schedule cssClass='schedule-cell-dimension' #scheduleObj width='100%' height='620px' [selectedDate]='selectedDate' (popupOpen)='onPopupOpen($event)'
              [views]='views' [eventSettings]='eventSettings' (eventRendered)="applyCategoryColor($event)">

  <!-- Header template -->
  <ng-template #quickInfoTemplatesHeader let-data>
    <div *ngIf="data.elementType == 'cell' || data.elementType == 'event'">
      <div class="e-popup-header" style="background: {{data.CategoryColor}}">
        <div class="e-header-icon-wrapper">
          <div *ngIf="data.elementType == 'event'" class="subject">
            <div class="e-subject-wrap">
              <div class="e-subject">{{ data.Subject }}</div>
            </div>
          </div>
          <button class="e-close e-close-icon e-icons" title="Close" (click)="onCloseClick()"></button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Content Template -->
  <ng-template #quickInfoTemplatesContent let-data>
    <div *ngIf="data.elementType == 'cell'" class="e-cell-content">
      <form class="e-schedule-form">
        <div style="padding:10px">
          <input class="subject e-field e-input" type="text" name="Subject" placeholder="Title" style="width:100%">
        </div>
        <div style="padding:10px">
          <input class="location e-field e-input" type="text" name="Location" placeholder="Location" style="width:100%">
        </div>
      </form>
    </div>
    <div *ngIf="data.elementType == 'event'" class="e-event-content">
      <div class="start-time">Time: {{getTimeString(data.StartTime)}} - {{getTimeString(data.EndTime)}}</div>
      <div class="event-status">Status: {{ data.Status }}</div>
      <div class="event-status">Created By: {{ data.CreateBy }}</div>
    </div>
  </ng-template>
  <ng-template #quickInfoTemplatesFooter let-data>
    <div *ngIf="data.elementType == 'event'" class="e-cell-footer">
      <div class="btn-container">
        <button cButton style="background: {{data.CategoryColor}}; border: none" class="popup-footer-button" title="Edit event" (click)="onDetailsClick(data)">Edit</button>
        <button *ngIf="data.Status == 'Wait for approval'" cButton style="background: {{data.CategoryColor}}; border: none" class="popup-footer-button" title="Approve" (click)="onApproveClick(data)">Approve</button>
        <button *ngIf="data.Status == 'Draft'" cButton style="background: {{data.CategoryColor}}; border: none" class="popup-footer-button" title="Create Contract" (click)="onCreateContract(data)">Create Contract</button>
        <button *ngIf="data.Status !== 'Draft'" cButton style="background: {{data.CategoryColor}}; border: none" class="popup-footer-button" title="Create Contract" (click)="onViewContract(data)">View Contract</button>
      </div>
    </div>
  </ng-template>


  <ng-template #editorHeaderTemplate let-data>
    <div *ngIf="data.Subject; else createNewEvent">
      Edit Booking Resource
    </div>
    <ng-template #createNewEvent>
      <span id="editor-header" #editorHeader> Booking Event </span>
    </ng-template>
  </ng-template>
  <ng-template #editorTemplate let-data>
    <p-toast [life]="5000" position="bottom-right"></p-toast>
    <div *ngIf="currentPage === 1">
      <table width="100%" cellpadding="5">
        <tbody>
        <tr>
          <td class="e-textlabel">Hall<span style="color:red">*</span></td>
          <td colspan="4">
            <ejs-dropdownlist id='ResourceId' class="e-field" data-name="ResourceId" placeholder='Choose Hall'
                              [dataSource]='hallData' [(ngModel)]="eventModel.hallId" [value]='eventModel.hallId' [fields]='fields'>
            </ejs-dropdownlist>
          </td>
        </tr>
        <tr>
          <td class="e-textlabel">Customer<span style="color:red">*</span></td>
          <td colspan="4">
            <ejs-dropdownlist id='CustomerId' class="e-field" data-name="ResourceId" placeholder='Choose Customer'
                              [dataSource]='customerData' [(ngModel)]="eventModel.customerId" [value]='eventModel.customerId' [fields]='fields'>
            </ejs-dropdownlist>
          </td>
        </tr>
        <tr>
          <td class="e-textlabel">Type<span style="color:red">*</span></td>
          <td colspan="4">
            <ejs-dropdownlist id='Type' class="e-field" data-name="ResourceId" placeholder='Choose Type'
                              [dataSource]='eventTypes' [(ngModel)]="eventModel.type" [value]="eventModel.type" [fields]='fields'>
            </ejs-dropdownlist>
          </td>
        </tr>
        <tr>
          <td class="e-textlabel">From<span style="color:red">*</span></td>
          <td colspan="4">
            <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                                (change)="onDateChange($event)" [(ngModel)]="eventModel.startDate">
            </ejs-datetimepicker>
          </td>
        </tr>
        <tr>
          <td class="e-textlabel">To<span style="color:red">*</span></td>
          <td colspan="4">
            <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                                (change)="onDateChange($event)" [(ngModel)]="eventModel.endDate">
            </ejs-datetimepicker>
          </td>
        </tr>
        <tr>
          <td class="e-textlabel">Description</td>
          <td colspan="4">
                    <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50"
                              [(ngModel)]='eventModel.description'
                              style="width: 100%; height: 60px !important; resize: vertical"></textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="currentPage === 2">
      <div class="button-action">
        <button class="e-control e-btn e-primary add-button" data-ripple="true" (click)="addRow()">
          <svg cIcon name="cilPlus"></svg>
        </button>
        <button class="e-control e-btn e-primary remove-button" data-ripple="true" (click)="removeSelectedRows()">
          <svg cIcon name="cilTrash"></svg>
        </button>
      </div>
      <div class="table-container">
        <table class="event-detail-editor" width="100%" cellpadding="5">
          <thead class="custom-header">
          <tr>
            <th style="width: 5%; padding-right: 8px;">
              <ejs-checkbox [(ngModel)]="checkAll" (change)="toggleCheckAll()"></ejs-checkbox>
            </th>
            <th style="width: 60%;">Facility</th>
            <th style="width: 15%;">Price</th>
            <th style="width: 5%;">Quantity</th>
            <th style="width: 15%;">Total value</th>
          </tr>
          </thead>
          <tbody  style="height: 245px">
          <tr *ngFor="let detailFacility of eventModel.facilityDetails; let i = index">
            <td style="width: 5%;">
              <ejs-checkbox [(ngModel)]="detailFacility.selected"></ejs-checkbox>
            </td>
            <td style="width: 60%; padding-bottom: 0px;">
              <ejs-dropdownlist (change)="onFacilityChange($event, i); calFacilityGrandTotal()" id='SelectField{{i}}'
                                class="e-field none-border" [(ngModel)]='detailFacility.selectValue'
                                [dataSource]='facilityData' placeholder='Choose option'>
              </ejs-dropdownlist>
            </td>
            <td style="width: 15%;">
              <span id="price{{i}}">{{ detailFacility.price | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
            <td style="width: 5%; padding-bottom: 0px;">
              <input type="number" (change)="calFacilityGrandTotal()" class="e-field e-input none-border"
                     [(ngModel)]='detailFacility.quantityValue' [min]="1"/>
            </td>
            <td style="width: 15%;">
              <span
                id="totalValue{{i}}">{{ detailFacility.price * detailFacility.quantityValue | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
          </tr>
          </tbody>
          <tfoot class="custom-footer">
          <tr>
            <td colspan="4" style="text-align: right; font-weight: bold">Grand total</td>
            <td>{{ totalFacilityValue | currency:'VND':'symbol':'1.0-0' }}</td>
          </tfoot>
        </table>
      </div>
    </div>
    <div *ngIf="currentPage === 3">
      <div class="button-action">
        <button class="e-control e-btn e-primary add-button" data-ripple="true" (click)="addRow()">
          <svg cIcon name="cilPlus"></svg>
        </button>
        <button class="e-control e-btn e-primary remove-button" data-ripple="true" (click)="removeSelectedRows()">
          <svg cIcon name="cilTrash"></svg>
        </button>
      </div>
      <div class="table-container">
        <table class="event-detail-editor" width="100%" cellpadding="5">
          <thead>
          <tr>
            <th style="width: 5%; padding-right: 8px;">
              <ejs-checkbox [(ngModel)]="checkAll" (change)="toggleCheckAll()"></ejs-checkbox>
            </th>
            <th style="width: 30%;">Dish</th>
            <th style="width: 30%;">Price</th>
            <th style="width: 10%;">Quantity</th>
            <th style="width: 25%;">Total value</th>
          </tr>
          </thead>
          <tbody  style="height: 245px">
          <tr *ngFor="let detailDish of eventModel.dishDetails; let i = index">
            <td style="width: 5%;">
              <ejs-checkbox [(ngModel)]="detailDish.selected"></ejs-checkbox>
            </td>
            <td style="width: 30%; padding-bottom: 0px;">
              <ejs-dropdownlist (change)="onDishChange($event, i); calDishGrandTotal()" id='SelectField{{i}}'
                                class="e-field none-border" [(ngModel)]='detailDish.selectValue' [dataSource]='dishData'
                                placeholder='Choose option'>
              </ejs-dropdownlist>
            </td>
            <td style="width: 30%;">
              <span id="price{{i}}">{{ detailDish.price | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
            <td style="width: 10%; padding-bottom: 0px;">
              <input type="number" (change)="calDishGrandTotal()" class="e-field e-input none-border"
                     [(ngModel)]='detailDish.quantityValue' [min]="1"/>
            </td>
            <td style="width: 25%;">
              <span
                id="totalValue{{i}}">{{ detailDish.price * detailDish.quantityValue | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
          </tr>
          </tbody>
          <tfoot class="custom-footer">
          <tr>
            <td colspan="4" style="text-align: right; font-weight: bold">Grand total</td>
            <td>{{ totalDishValue | currency:'VND':'symbol':'1.0-0' }}</td>
          </tfoot>
        </table>
      </div>
    </div>
    <div *ngIf="currentPage === 4">
      <div class="button-action">
        <button class="e-control e-btn e-primary add-button" data-ripple="true" (click)="addRow()">
          <svg cIcon name="cilPlus"></svg>
        </button>
        <button class="e-control e-btn e-primary remove-button" data-ripple="true" (click)="removeSelectedRows()">
          <svg cIcon name="cilTrash"></svg>
        </button>
      </div>
      <div class="table-container">
        <table class="event-detail-editor" width="100%" cellpadding="5">
          <thead>
          <tr>
            <th style="width: 5%; padding-right: 8px;">
              <ejs-checkbox [(ngModel)]="checkAll" (change)="toggleCheckAll()"></ejs-checkbox>
            </th>
            <th style="width: 30%;">Service</th>
            <th style="width: 30%;">Price</th>
            <th style="width: 10%;">Quantity</th>
            <th style="width: 25%;">Total value</th>
          </tr>
          </thead>
          <tbody style="height: 245px">
          <tr *ngFor="let detailThirdparty of eventModel.thirdpartyDetails; let i = index">
            <td style="width: 5%;">
              <ejs-checkbox [(ngModel)]="detailThirdparty.selected"></ejs-checkbox>
            </td>
            <td style="width: 30%; padding-bottom: 0px;">
              <ejs-dropdownlist (change)="onThirdpartyChange($event, i); calThirdpartyGrandTotal()"
                                id='SelectField{{i}}' class="e-field none-border"
                                [(ngModel)]='detailThirdparty.selectValue' [dataSource]='thirdpartyData'
                                placeholder='Choose option'>
              </ejs-dropdownlist>
            </td>
            <td style="width: 30%;">
              <span id="price{{i}}">{{ detailThirdparty.price | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
            <td style="width: 10%; padding-bottom: 0px;">
              <input type="number" (change)="calThirdpartyGrandTotal()" class="e-field e-input none-border"
                     [(ngModel)]='detailThirdparty.quantityValue' [min]="1" [max]="1"/>
            </td>
            <td style="width: 25%;">
              <span
                id="totalValue{{i}}">{{ detailThirdparty.price * detailThirdparty.quantityValue | currency:'VND':'symbol':'1.0-0' }}</span>
            </td>
          </tr>
          </tbody>
          <tfoot class="custom-footer">
          <tr>
            <td colspan="4" style="text-align: right; font-weight: bold">Grand total</td>
            <td>{{ totalThirdpartyValue | currency:'VND':'symbol':'1.0-0' }}</td>
          </tfoot>
        </table>
      </div>
    </div>
  </ng-template>
  <ng-template #editorFooterTemplate>
    <div id="right-button">
      <button *ngIf="currentPage == 1" id="Cancel" class="e-control e-btn e-second-button" data-ripple="true" (click)="this.scheduleObj?.closeEditor();">Cancel</button>
      <button *ngIf="currentPage > 1" (click)="previousPage()" class="e-control e-btn e-second-button"
              data-ripple="true">Back
      </button>
      <button *ngIf="currentPage < 4" (click)="nextPage()" style="background-color: #321fdb;"
              class="e-control e-btn e-primary" data-ripple="true">Next
      </button>
      <button id="Save" [ngClass]="{'hidden': currentPage !== 4}" style="background-color: #321fdb;"
              class="e-control e-btn e-primary" data-ripple="true" (click)="onSaveButtonClick()">Save
      </button>
    </div>
  </ng-template>
</ejs-schedule>
<p-toast [life]="5000" key="success"></p-toast>
<p-confirmDialog></p-confirmDialog>
