<c-card>
  <c-card-header>
    {{ moduleName }} detail
  </c-card-header>
  <c-card-body>
    <form cForm class="row g-3">
      <c-col *ngFor="let col of displayedColumns" [md]="col.colSpan">
        <div *ngIf="col.isText">
          <label cLabel for="input{{ col.name }}">{{ labelList[col.name] }}</label>
          <input cFormControl id="input{{ col.name }}" [(ngModel)]="detailObject[col.name]" name="{{col.name}}" [value]="detailObject[col.name]" [disabled]="col.isDisabled"/>
        </div>
        <div *ngIf="col.isSelect">
          <label cLabel for="select{{ col.name }}">{{ labelList[col.name] }}</label>
          <select cFormControl cSelect [(ngModel)]="detailObject[col.name]" id="select{{ col.name }}" name="{{col.name}}" [disabled]="col.isDisabled">
            <option *ngFor="let option of col.options" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div *ngIf="col.isDate">
          <label cLabel for="date{{ col.name }}">{{ labelList[col.name] }}</label>
          <div class="date-picker-container">
            <input cFormControl id="input{{ col.name }}" [matDatepicker]="picker" [(ngModel)]="detailObject[col.name]" name="{{ col.name }}" [value]="detailObject[col.name]" [disabled]="col.isDisabled">
            <mat-datepicker-toggle matIconSuffix [for]="picker" class="date-picker-toggle"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </c-col>
      <c-col [md]="12">
        <div *ngIf="moduleName === 'Roles'">
          <c-nav variant="tabs">
            <c-nav-item>
              <a [cTabContent]="accountInfo" [routerLink] [tabPaneIdx]="0" cNavLink>
                <svg cIcon class="me-2" name="cilUser"></svg>
                Permission
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="accountInfo" [routerLink] [tabPaneIdx]="1" cNavLink>
                <svg cIcon class="me-2" name="cilColorBorder"></svg>
                Users
              </a>
            </c-nav-item>
          </c-nav>
          <c-tab-content #accountInfo="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane class="p-3 preview account-info-tab" role="tabpanel">
              <div class="account-info-container">
                <app-permission
                  [permissionModel] = "permissionModel"
                ></app-permission>
              </div>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview account-info-tab" role="tabpanel">
              <div class="account-info-container">
                <app-record-list-view
                  [moduleName]="'Users'"
                  [showHeader]="false"
                  [filter] = "{'roleName': detailObject.name}"
                ></app-record-list-view>
              </div>
            </c-tab-pane>
          </c-tab-content>
        </div>

        <div *ngIf="moduleName === 'Departments'">
          <c-nav variant="tabs">
            <c-nav-item>
              <a [cTabContent]="accountInfo" [routerLink] [tabPaneIdx]="0" cNavLink>
                <svg cIcon class="me-2" name="cilUser"></svg>
                Employees
              </a>
            </c-nav-item>
          </c-nav>
          <c-tab-content #accountInfo="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane class="p-3 preview account-info-tab" role="tabpanel">
              <div class="account-info-container">
                <app-record-list-view
                  [moduleName]="'Employees'"
                  [showHeader]="false"
                  [filter] = "{'departmentName': detailObject.name}"
                ></app-record-list-view>
              </div>
            </c-tab-pane>
          </c-tab-content>
        </div>
      </c-col>
      <c-col [md]="12">
        <button cButton color="primary" (click)="saveInfo()">Save</button>
        <button id="deleteButton" cButton color="danger" (click)="deleteInfo()">Delete</button>
      </c-col>
    </form>
    <p-confirmDialog></p-confirmDialog>
    <p-toast [life]="5000"></p-toast>
  </c-card-body>
</c-card>
