<div style="width: 100%;">
  <c-card [ngClass]="{'no-header': !showHeader, 'no-border': !showBorder}" class="list-container">
    <c-card-header class="list-view-header" *ngIf="showHeader">
      <c-col [md]="6" class="module-name-container"> {{ moduleName }} <span style="padding-left: 5px"
                                                                            cTooltip="Total of {{moduleName}}"
                                                                            [cTooltipVisible]="true"> ({{ totalRecords }})</span></c-col>
      <c-col [md]="6" class="list-view-action-group">
        <button cButton color="primary" type="submit" (click)="navigateToCreate()" *ngIf="canCreate">Create
          <c-icon class="icon-create" name="cilPlus"></c-icon>
        </button>
      </c-col>
    </c-card-header>
    <c-card-body [ngClass]="{'no-header': !showHeader}" class="custom-card-body">
      <div class="filter-container">
        <mat-form-field appearance="outline" *ngFor="let empfilter of empFilters">
          <mat-label>{{ empfilter.label }}</mat-label>
          <mat-select
            [(value)]="empfilter.defaultValue"
            (selectionChange)="applyEmpFilter($event, empfilter)"
          >
            <mat-option *ngFor="let op of empfilter.options" [value]="op">
              {{ op }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="table-container">
        <span *ngIf="totalRecords == 0" style="text-align: center;display: flex;font-style: italic;justify-content: center;align-items: center;height: 66px;margin-bottom: -48px;">Empty data</span>
        <table id="listTable" [ngClass]="{'hidden': !showTable}" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
          <!-- Dynamic Column Definition -->
          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{labelList[col]}}"> {{ labelList[col] }}</th>
            <td mat-cell *matCellDef="let element"> {{ element[col] }}</td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="navigateToDetail(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator #paginator [ngClass]="{'hidden': !showTable}" [pageSizeOptions]="[20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </c-card-body>
    <p-toast [life]="5000"></p-toast>
  </c-card>
</div>
