.list-view-container {
  padding: 10px;
  background: black;
}
.list-view-header {
  padding: 4px;
  display: flex;
  background: white;
  border: none;
  padding-bottom: 6px;
}
.list-view-action-group {
  display: flex;
  justify-content: right;
}
.module-name-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.icon-create {
  padding-left:10px
}
.mat-mdc-table {
  box-shadow: none;
}
.hidden {
  display: none;
}
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f5f5f5;
}
.no-header {
  padding: 0px;
  border: none;
}
.no-border {
  border: none;
}
.list-container {
  width: 100%;
}
.custom-card-body {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.table-container {
  height: fit-content; /* Adjust the height as needed */
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: border for the container */
  border-radius:  0.375rem;
}
th {
  background-color: #fefefe !important;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick the header to the top */
  z-index: 1
}
