.date-picker-container {
  position: relative;
}
.date-picker-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#deleteButton {
  color: white;
  margin-left: 10px;
}

.datepicker{
  width: 100%;
  display: block;
}
.calendar-input {
  width: 100%;
  display: block;
}
.p-calendar {
  width: 100%;
  display: block;
}
