.account-info-container {
  background: white;
  border: 1px solid #c4c9d0;
  padding: 20px;
  border-top: none;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.account-info-tab {
  padding: 0px !important;
}
